body {
    font-family: 'VT323', monospace;
    background-color: #274156;
    color: #FBFCFF;
}

a {
    color: #cd9dcd;
}

p {
    font-size: 1.5rem;
}

.section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.heading {
    font-size: 5rem;
}